[Desktop Entry]
Name=ProspectMail
Exec=./launcher_prospect.sh
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Ubuntu-Touch=true
X-Ubuntu-XMir-Enable=true
